* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.container {
    position: relative;
}
header {
    width: 100%;
    position: relative;
    border-bottom: 1px solid silver;
}
header h1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 24px;
}
header h1 img {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
}

/* Nav */

nav {
    position: relative;
    width: 100%;
    display: block;
    border-bottom: 1px solid silver;
    /* overflow-x: hidden; */
    /* background: linear-gradient(45deg, blue, aqua); */
}
nav .wrap {
    /* position: absolute; */
    width: 100%;
    /* transform: translateX(-100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    animation: animate 12s ease infinite;
}
@keyframes animate {
    0% {
        transform: translateX(-100%);
    }
    30% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(0%);
    }
    70% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(100%);
    }
}
nav .wrap #btn {
    width: 100%;
    padding: 2px 5px;
    background: transparent;
    border: 0.5px solid blue;
    border-radius: 3px;
    background: linear-gradient(-60deg, blue, aqua);
}
.topBar {
    position: absolute;
    width: 100%;
    background: rgb(7, 7, 94);
    display: flex;
    align-items: center;
    transform: translateY(-100%);
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    z-index: 250;
    transition: 1.8s;
}
.topBar button {
    display: block;
    background: transparent;
    border-top: 1.5px solid aqua;
    width: 100%;
    order: 1;
    color: cadetblue;
    font-size: 18px;
    font-weight: 700;
}
.topBar #title {
    position: relative;
    color: azure;
}
.topBar #topBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}
#topBar p#bekat {
    width: 100%;
    padding: 2px 5px;
    border-left: 1px solid aqua;
    border-bottom: 1px solid aqua;
    font-size: 18px;
    color: azure;
    font-weight: 700;
    z-index: 350;
}
#topBar p#bekat:active {
    background: aqua;
}
#topBar .nameStation {
    position: relative;
    color: aquamarine;
    font-size: 18.5px;
}
#topBar p.malumot {
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#topBar p.malumot mark {
    background: rgb(255, 0, 43);
    color: yellow;
}
#topBar p.loc {
    font-size: 17px;
    color: azure;
    font-family: cursive;
}
#topBar p.loc a {
    text-decoration: none;
    color: red;
    font-weight: 600;
    -webkit-text-stroke: 1px silver;
}
#topBar p.memor {
    color: gold;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
}
main {
    position: relative;
    width: 100%;
}
main img#head {
    width: 100%;
    height: 100%;
    position: relative;
}
